{% extends "aacore/base.html" %}

{% load aacoretags %}


{% block title %}rdf: browse{% endblock %}

{%block head %}
<script>
window.onload = function () { 
    document.getElementById("node").focus();
}
</script>
<link rel="stylesheet" href="{{ STATIC_URL }}aacore/css/aa.styles.css" media="screen" />
<link rel="stylesheet" href="{% url aa-namespaces-css %}" type="text/css" media="screen" />
{% endblock %}


{% block body %}
<div id="minipage" class="browser">

<div id="browser_top">
    <form method="get" action="">{% csrf_token %}
        <div>
            <a href="{{ node }}" class="directlink">URL</a>
            <input name="node" id="node" style="width: 85%;" value="{{ node }}" /><br>
            <input type="submit" name="_submit" value="ok" />
            {% if resource %}
            <input type="submit" name="_submit" value="reload" />
            {% endif %}
        </div>
    </form>
</div>

{% if embeds %}
<div id="embeds" style="text-align: center">
    {% for embed in embeds %}{{ embed|safe }}{% endfor %}
</div>
{% endif %}

<div id="results">

<!-- infobox representing the node, with all literal values (optionally grouped by context) -->

<div class="data">
{% if thumbnail %}<div class="thumbnail"><img src="{{ thumbnail }}" /></div>{% endif %}
{% if title %}<h2>{{ title }}</h2>{% endif %}
{% if description %}<p class="description">{{ description|safe }}</p>{% endif %}

{% regroup node_stats by relation as grouped %}

    {% for relation in grouped %}
    <div class="relbox {{ relation.grouper|namespace_for_url }}" style="float: left; margin-right: 10px; margin-bottom: 10px; width: 280px">
        <div class="relbox_name">{{ relation.grouper|rdfrellink }}</div>
        <div class="relbox_values">
            {% for item in relation.list %}<span class="relbox_value">{{ item.object|rdfbrowselink}}</span>{% if not forloop.last%} <span class="relbox_value_separator">&nbsp;</span>{% endif %}{% endfor %}
        </div>
    </div>
    {% endfor %}

</div><!-- data -->

{% if links_in or links_out %}
<h2 style="clear: both; padding-top: 10px; margin-top: 20px; margin-bottom: 0">Links</h2>

<table>
<tr>
<td>
<!-- Links Out -->
{% regroup links_out by relation as grouped %}
{% for relation in grouped %}
<div class="relbox {{ relation.grouper|namespace_for_url }}">
    <div class="relbox_name">{{ relation.grouper|rdfrellink }}</div>
    <div class="relbox_values">
        {% for item in relation.list %}<div class="relbox_value"><a title="{{ item.object|rdfnode }}" href="{{ item.object|rdfnode|browseurl }}">{{ item.object|rdfnode }}</a></div>{%endfor%}
    </div>
</div>
{% endfor %}

</td>

<td class="links_in">
{% regroup links_in by relation as grouped %}
{% for relation in grouped %}
<div class="relbox {{ relation.grouper|namespace_for_url }}">
    <div class="relbox_name">{{ relation.grouper|rdfrellink }}</div>
    <div class="relbox_values">
        {% for item in relation.list %}<div class="relbox_value"><a title="{{ item.suject|rdfnode }}" href="{{ item.subject|rdfnode|browseurl }}">{{ item.subject|rdfnode }}</a></div>{%endfor%}
    </div>
</div>
{% endfor %}
</td>

</tr>
</table>

</div>
{% endif %}


{% if links_as_rel %}
<h2 style="clear: both; padding-top: 20px">as relation</h2>
<table>
{% regroup links_as_rel by subject as grouped %}
{% for subject in grouped %}<tr>
    <td>{{ subject.grouper|rdfbrowselink }}</td>
    <td><ul>{% for item in subject.list %}<li>{{ item.object|rdfbrowselink }}</li>{% endfor %}</ul></td>
</tr>
{% endfor %}
</table>
{% endif %}


</div>
</div> <!-- minipage -->

{% endblock %}


